<header class="d-flex justify-content-center align-items-center">
  <div class="inner">
    <div class="title-text">
      <h1 data-aos="fade-right" data-aos-duration="1000">Деловые полеты на вертолетах</h1>
      <p data-aos="fade-right" data-aos-duration="1000">Значительная экономия времени. Безопасное и комфортное передвижение</p>
    </div>
  </div>
</header>

<div class="main-container">
  <div class="all-services">

    <div class="title-service d-flex justify-content-center align-items-center">
      <div class="inner-title">
        <h1 class="mt-4">Корпоративные рейсы</h1>
        <span><strong>Такси Вертолет</strong> предлагает клиентам заказ вертолетов на основе почасовой оплаты.
           Удобное расположение площадок позволяет оперативно совершать вылеты на расстояния 350-500 км.
          Заказ вертолетов становиться более востребованным среди корпоративных полетов.</span>
        <div class="btn-choose-heli">
          <a href="/helicopter">
            <button>ВЫБРАТЬ ВЕРТОЛЕТ</button>
          </a>
        </div>
      </div>
    </div>

    <div class="subtitle-service-row d-flex">

      <div class="subtitle">
        <a href="/hourly-rental">
          <div class="subtitle-inner ">
            <h1>Заказ и аренда вертолета</h1>
            <span>Почасовая аренда вертолета для деловых полётов на заводы и предприятия.
            Выгодные тарифы юридическим лицам.</span>
          </div>
        </a>
      </div>

      <div class="subtitle subtitle-2">
        <a href="/business">
          <div class="subtitle-inner">
            <h1>Облет земельных владений</h1>
            <span>Облет востребован среди застройщиков перед началом строительства.
            Порой необходимо оценить потенциал финансовых вложений и заказать осмотр не вертолете.</span>
          </div>
        </a>
      </div>

      <div class="subtitle subtitle-3">
        <a href="/business">
          <div class="subtitle-inner ">
            <h1>Вертолетное такси</h1>
            <span>Полет на вертолете значительно экономит время.
            Такси на вертолётах становится незаменимым транспортным средством среди деловых персон. </span>
          </div>
        </a>
      </div>

      <div class="subtitle subtitle-4">
        <a href="/sightseeing">
          <div class="subtitle-inner">
            <h1>Обзорные полеты</h1>
            <span>Ознакомительные полеты на вертолётах.
            Доставка подарочных сертификатов. Подарите незабываемые впечетления своим близким.</span>
          </div>
        </a>
      </div>

    </div>

  </div>
</div>

<div class="how-order">

  <div class="order-title">
    <p>Заказ вертолета</p>
  </div>

  <div class="order-blocks d-flex justify-content-between">

    <div data-aos="fade-left" data-aos-duration="1000" class="block b-1">
      <img src="assets/order-icons/file.png" alt="">
      <p>ОФОРМЛЕНИЕ ЗАЯВКИ</p>
    </div>

    <div data-aos="fade-right" data-aos-duration="1000" class="block b-2">
      <img src="assets/order-icons/list.png" alt="">
      <p>ВЫБОР ИЗ ПРЕДЛОЖЕННЫХ ВАРИАНТОВ</p>
    </div>

    <div data-aos="fade-left" data-aos-duration="1000" class="block b-3">
      <img src="assets/order-icons/hands.png" alt="">
      <p>ЗАКЛЮЧЕНИЕ ДОГОВОРА И ОПЛАТА</p>
    </div>

    <div data-aos="fade-right" data-aos-duration="1000" class="block b-4">
      <img src="assets/order-icons/helicopter.png" alt="">
      <p>ВЫЛЕТ В НАЗНАЧЕННОЕ ВРЕМЯ</p>
    </div>

  </div>

  <div class="all-order-text d-flex justify-content-center">
    <div class="title-order-text">
      <ul>
        <li><img class="check" src="assets/check.png" alt="">
          Полет на вертолете сэкономит Ваше личное время, подчеркнет деловой образ перед партнерами.
          Опытные пилоты и высокие стандарты сервиса обеспечивает опытная команда. Если Вам необходима аренда вертолета
          в
          Москве,
          полет в охотничье хозяйство, облет территории, осмотр достопримечательностей — звоните и Вы останетесь
          довольны!
        </li>

        <li>
          <img class="check" src="assets/check.png" alt="">Cравните цены в различных вертолетных центрах — компания
          Вертолетные Технологии предлагает стоимость аренды на 5-7% ниже рынка.
          Предлагаем насладиться полетом на вертолете в Подмосковье. Вертолетный флот включают борта эконом класса —
          Robinson R44,
          R66 и вертолетах VIP класса - Bell 429, Eurocopter EC135, Agusta AW109 Grand, AW139. Использование вертолета
          экономит время в деловых полетах и на отдыхе.
          Вертолетное такси доставит Вас в самые кратчайшее сроки в любое место назначения.
        </li>

        <li><img class="check" src="assets/check.png" alt="">
          Заказ и аренда вертолета в Москве востребована при организации деловых полетов,
          трансферов в аэропорт, охоты, рыбалки. На вертолете Вы сможете преодолеть любое расстояние быстро,
          комфортно, безопасно. Заказ вертолета — незаменимый вид транспорта деловых персон, ценящих время, точность,
          надежность. Постоянным клиентам предоставляется возможность выбора пилотов, вертолетов, специальные тарифы по
          бронированию,
          и оперативность подготовки полета. Пилоты обладают большим опытом налёта часов и высокой квалификацией.
        </li>
      </ul>

    </div>
  </div>

</div>

<div class="who-choice-block">

  <div data-aos="fade-right" data-aos-duration="1000" class="who-inner">

    <h1 class="mb-3">Вертолётное такси</h1>
    <span class="mb-5">Деловые люди, ценящие свое время, комфорт и качественный сервис,
      постоянно обращаются за арендой вертолетов. Принцип оптимизации и экономии заложен
      в основе деятельности компании по аренде вертолетов.
      <br>
      Вертолетное такси является оптимальным
      транспортным средством деловых персон, предпочитающих жить за пределами Москвы,
      при этом потребность которых летать на встречи и переговоры не такая частая.
    </span>


    <div class="mb-5 btn-choose-heli">
      <a href="/helicopter">
        <button>ПОДРОБНЕЕ</button>
      </a>
    </div>

  </div>


</div>

<div class="how-order">



  <div class="all-order-text last d-flex justify-content-center">

    <div class="order-title-last">
      <p>Вертолетное такси в Москве заказать очень просто:</p>
    </div>

    <div data-aos="fade-left" data-aos-duration="1000" class="title-order-text">
      <ul>
        <li><img class="check" src="assets/check.png" alt="">
          Звонок, письмо или личная встреча в офисе. Специалист подготовит и предоставит несколько оптимальных предложений перелета на разных типах вертолетов;
        </li>

        <li>
          <img class="check" src="assets/check.png" alt="">
          В назначенное время вертолетное такси ожидает клиента на площадке;
        </li>

        <li><img class="check" src="assets/check.png" alt="">
          Полет займет минимальное время и это еще одно достоинство аренды вертолета
        </li>
      </ul>

    </div>
  </div>

</div>
