<div class="container-my">

  <div class="row mb-3">
   <div class="img-obzor col-lg-6"></div>
    <div class="obzor-block col-lg-6">
      <p class="title-obzor-text mb-2">ПОЛЕТ ПО ГОРОДУ</p>
      <p>Вертолет Eurocopter AS350 предназначен для выполнения широкого спектра задач, включая корпоративные перевозки. Вертолет Eurocopter AS350 предназначен для выполнения</p>

      <hr class="hr">

      <div class="long-and-heli d-flex justify-content-between mb-5">
        <p class="long-fly"><strong>Длительность:   </strong> 3 ч</p>
        <p class="long-fly"><strong>Вертолет:</strong> Eurocopter AS350</p>
      </div>

      <div class="cost-and-btn d-flex justify-content-between align-items-center mb-1">
        <p><strong>Стоимость:  </strong> <span>35 000</span> руб/ч</p>
        <div (click)="scroll(target)" class="send-form-btn"><strong>Заказать</strong></div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="img-obzor-1 col-lg-6"></div>
    <div class="obzor-block col-lg-6">
      <p class="title-obzor-text help-2 mb-2">ОБЗОРНЫЙ ПОЛЕТ В МОСКВЕ</p>
      <p>Вертолет Eurocopter AS350 предназначен для выполнения широкого спектра задач, включая корпоративные перевозки. Вертолет Eurocopter AS350 предназначен для выполнения</p>

      <hr class="hr">

      <div class="long-and-heli d-flex justify-content-between mb-5">
        <p class="long-fly"><strong>Длительность:   </strong> 3 ч</p>
        <p class="long-fly"><strong>Вертолет:</strong> Eurocopter AS350</p>
      </div>

      <div class="cost-and-btn d-flex justify-content-between align-items-center mb-2">
        <p><strong>Стоимость:  </strong> <span>35 000</span> руб/ч</p>
        <div (click)="scroll(target)" class="send-form-btn"><strong>Заказать</strong></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="img-obzor-2 col-lg-6"></div>
    <div class="obzor-block obzor-block-3 col-lg-6">
      <p class="title-obzor-text help-2 mb-2">ОБЗРНЫЙ ПОЛЕТ ПО САНКТ-ПЕТЕРБУРГУ</p>
      <p>Вертолет Eurocopter AS350 предназначен для выполнения широкого спектра задач, включая корпоративные перевозки. Вертолет Eurocopter AS350 предназначен для выполнения</p>

      <hr class="hr">

      <div class="long-and-heli d-flex justify-content-between mb-5">
        <p class="long-fly"><strong>Длительность:   </strong> 3 ч</p>
        <p class="long-fly"><strong>Вертолет:</strong> Eurocopter AS350</p>
      </div>

      <div class="cost-and-btn d-flex justify-content-between align-items-center mb-2">
        <p><strong>Стоимость:  </strong> <span>35 000</span> руб/ч</p>
        <div (click)="scroll(target)" class="send-form-btn"><strong>Заказать</strong></div>
      </div>
    </div>
  </div>
</div>



<div #target class="down"></div>

