<header>
  <div class="container-fluid">
    <div class="inner">
      <h1 class="mb-5">Деловые полеты на вертолетах</h1>

      <div class="row d-flex justify-content-center gap-3 mb-3">

        <div  (click)="scroll(target)" class="bis-block col-lg-4 col-md-5 col-sm-12">
          <div class="bis-text">
            <div class="bis-text-title">
              <p>ПОЛЕТ НА ПРЕДПРИЯТИЕ</p>
            </div>
            <div class="bis-text-span">
              Вертолет Eurocopter AS350 предназначен для
              выполнения широкого спектра задач, включая корпоративные перевозки.
            </div>
          </div>
        </div>

        <div (click)="scroll(target)" class="bis-block col-lg-4 col-md-5 col-sm-12">
          <div class="bis-text">
            <div class="bis-text-title">
              <p>ОБЛЁТ НЕФТЕПРОВОДА</p>
            </div>
            <div class="bis-text-span">
              Вертолет Eurocopter AS350 предназначен
              для выполнения широкого спектра задач, включая
              корпоративные перевозки.
            </div>
          </div>
        </div>

        <div (click)="scroll(target)" class="bis-block col-lg-3 col-md-10 col-sm-12">
          <div class="bis-text">
            <div class="bis-text-title">
              <p>БИЗНЕС</p>
            </div>
            <div class="bis-text-span">
              Заказ вертолета для визитов на заводы и предприятия позволит
              Вам значительно сэкономить время и оптимизировать рабочие процессы.
            </div>
          </div>
        </div>

      </div>

      <div class="row d-flex justify-content-center gap-3">

        <div (click)="scroll(target)" class="bis-block col-lg-4 col-md-5 col-sm-12">
          <div class="bis-text">
            <div class="bis-text-title">
              <p>ОБЛЁТЫ</p>
            </div>
            <div class="bis-text-span">
              Заказ вертолета для визитов на заводы и предприятия позволит
              Вам значительно сэкономить время и оптимизировать рабочие процессы.
            </div>
          </div>
        </div>

        <div (click)="scroll(target)" class="bis-block col-lg-4 col-md-5 col-sm-12">
          <div class="bis-text">
            <div class="bis-text-title">
              <p>НЕФТЕПРОВОДЫ</p>
            </div>
            <div class="bis-text-span">
              Мониторинг нефтепровода поможет избежать издержек на врезки.
            </div>
          </div>
        </div>

        <div (click)="scroll(target)" class="bis-block col-lg-3 col-md-10 col-sm-12">
          <div class="bis-text">
            <div class="bis-text-title">
              <p></p>
            </div>
            <div class="bis-text-span">
              Вертолет Eurocopter AS350 предназначен для
              выполнения широкого спектра задач, включая корпоративные перевозки.
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</header>
<div #target class="target"></div>
