.pump {
  height: 70px;
}

header {
  position: relative;
  background: url('../../assets/map-of-russia.jpg') center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 10px;
}

header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.2);
  z-index: 2;
}

.inner {
  position: relative;
  z-index: 3;
  color: #fff;
  text-align: center;
  padding: 50px;
  transition: 0.1s all;
}

.inner:hover {
  transform: translateY(-5px) !important;
}

.inner h1 {
  font-size: 100px;
  line-height: 4.2;
}

.inner span {
  text-decoration: underline;
}

.accordion-flush {
 opacity: 0.8;
}


//---------- MEDIA QUETIONS ------------

@media (max-width: 1440px) {

}

@media (max-width: 1240px) {
  .inner h1 {
    line-height: 1.2;
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 981px) {
  .container {
    max-width: 100vw !important;
  }
}

@media (max-width: 921px) {
  .accordion-body {
    flex-direction: column !important;
  }
}


@media (max-width: 768px) {

}

@media (max-width: 491px) {
  .inner h1 {
    font-size: 69px !important;
  }
}

@media (max-width: 425px) {

}

@media (max-width: 375px) {

}

