@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

//---------- MEDIA QUETIONS ------------

@media (max-width: 1440px) {

}
@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 425px) {

}

@media (max-width: 375px) {

}

.img-wrapper {
  padding: 5px;
}

.img-wrapper img {
 height: 200px;
}

.owl-theme .owl-nav [class*=owl-] .owl-prev {
  background-color: #E34F25 !important;
}

.owl-theme .owl-dots .owl-dot span {
  background: yellow !important;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: blue !important;
}

